[build]
  publish = "dist/spa"
  command = "npm run build:ssg"
  functions = "vendor/cms-core/netlify/functions"


[functions]
  external_node_modules = ["express"]
  node_bundler = "esbuild"
  
[[redirects]]
  force = true
  from = "/api/*"
  status = 200
  to = "/.netlify/functions/api/:splat"
